* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(45deg,#623fff, #71deff);
  overflow: hidden;
}
span {
  position: absolute;
  pointer-events: none;
  filter: drop-shadow(0 0 15px #00000050);
  animation: fadeInOut 1s linear infinite;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: #ffffff3b;
  border-radius: 20px;
  border: solid 2px #ffffff66;
  cursor: url(mouse.png),  default;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("oreo.png");
  background-size: cover;
  animation: moveShape 2s linear infinite;
}

@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translate(500px) rotate(360deg);
  }
}